[Desktop Entry]
Type=Application
Version=1.0
Name=Pikeru
Comment="File Picker with Good Thumbnails and Search"
Exec=pikeru %U
Icon=/usr/share/icons/Adwaita/scalable/actions/document-open-symbolic.svg
Terminal=false
Categories=Utility;Core;
MimeType=inode/directory;
Keywords=file;explorer;picker;select;
StartupNotify=true
StartupWMClass=pikeru
